@{
    ViewData["Title"] = "Home Page";
}

<h1>
    Aprendendo ASP.NET Core
</h1>
<h2>
    Entendendo o básico do routing e como renderizar um html.
</h2>
<p>
   Os <blockquote>endpoints</blockquote> são responsável por lidarem com as requisições http que chegam. Um endpoint pode ser uma <blockquote>action</blockquote>. Actions são qualquer método público que é declarado em um controller.  
</p>
